<div class="row">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-sm-3">
      <a [routerLink]="['/cardapioPrincipal']" class="navbar-brand">Quiosque NuButikin</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">Cardapio</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['/pedido']" routerLinkActive="active" class="nav-link">Pedido</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['/entrega']" routerLinkActive="active" class="nav-link">Entrega</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['/fechamento']" routerLinkActive="active" class="nav-link">Fechamento</a>
        </li>
      </ul>
    </div>

  </nav>
</div>
